.MenuItem {
    background-color: #313B3C !important;
    color:#CCC !important;
  }
.MenuItem:hover {
    background-color: rgb(72 72 72) !important;
    color:#CCC !important;
    cursor: pointer !important;
}
.contact {
    object-fit: cover !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}
.list-group-item-action {
    cursor: pointer;
}
.Visited {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: 30px !important;
    margin-top: 30px !important;
}
.Visited:hover {
    width: 50px !important;
    height: 50px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
    cursor: pointer !important;
}

.VisitedBadge {
    z-index: 100 !important;
    position: absolute !important;

}

.transparent-btn {
    background-color: transparent !important;
    border: none !important;
}
.transparent-btn:hover {
    background-color: transparent !important;
    border: none !important;
}

.icon-btn {
    margin: 5px;
    font-size: 40px;
}
.icon-btn:hover {
    color: rgb(167 36 129) !important;
}

.accordion-button {
  color: white !important;
  background-color: rgb(135, 0, 96) !important;
}

.accordion-button:focus {
    border-color: #870060 !important;
    box-shadow: 0 0 0 .25rem rgba(57, 66, 67, 0.16) !important;
  }

.accordion-body {
    background-color: #394243;
    color: white;
}
.accordion-button:not(.collapsed)::after {
    
}

.accordion-button:not(.collapsed)::after {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e'") !important; */
}