// @import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// * {
//   margin: 0 auto;
//   padding: 0;
//   box-sizing: border-box;
//   color: white;
//   font-family: "Muli", sans-serif;
// }

$backgroundColor: #282b34;
$greyColor: #2d343e;
$redColor: #381eff;
$yellowColor: #870060;
