body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: #870060 !important;
  border-color: #6c004d !important;
}

.btn-secondary {
  color: #870060 !important;
  background-color: #fff !important;
  border-color: #6c004d !important;

}
.btn-secondary:hover, .btn-primary:hover {
  background-color: rgb(167 36 129) !important;

}


a.nav-link:active {
  color: black !important;
  font-weight: bold !important;
}

a.nav-link:hover {
  color: black !important;
}

a.nav-link {
  color: #870060 !important;
}